{{define "title"}}BinGO Site{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>Click {{LINK "login" "HERE"}} to login!</p>
</div>
{{end}}
{{define "foot"}}{{end}}
