{{define "footer"}}
<footer id='footer-block' class='container hidden-xs hidden-sm'>
  <p align='center'>created by: <a style="font-weight: bold; cursor: pointer; text-decoration: none;" href="https://github.com/voidhofer">voidhofer</a></p>
</footer>
{{end}}