<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<title>{{template "title" .}}</title>
	{{ CSS "//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" }}
	{{CSS "static/css/global.css"}}

	{{template "head" .}}
  </head>
  <body>
	<input id="BaseURI" type="hidden" value="{{.BaseURI}}">
	<div id="flash-container">
	{{range $fm := .flashes}}
		<div id="flash-message" class="alert alert-box-fixed0 alert-box-fixed alert-dismissible {{.Class}}" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Bezár"><span aria-hidden="true">&times;</span></button>
		{{.Message}}</div>
	{{end}}
	</div>
	<div class='container' id='main-container'>
		{{template "menu" .}}
		{{template "content" .}}
	</div>
	{{JS "static/js/jquery1.11.0.min.js"}}
	{{JS "static/js/underscore-min.js"}}
	{{ JS "//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" }}
	{{ JS "//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" }}
	{{JS "static/js/global.js"}}
	{{template "footer" .}}
	{{template "foot" .}}
  </body>
</html>
